---
const { source, className } = Astro.props;
import DynamicIcon from "@/helpers/DynamicIcon";
import ImageMod from "./ImageMod.astro";
---

<section class="section-sm false">
  <div class="container max-w-5xl px-8 md:px-12 lg:px-16">
    <div class="row items-center gap-4 md:gap-6">
      <div class="md:col-6 lg:col-5 mb-6 md:mb-0">
        <h2>Interested in learning more?</h2>
        <p>
          Not sure where to start brewing? Want to come to an event? Learn about
          membership? Our favorite brewery in the area? Contact us with any
          questions you might have. Would love to hear from you!
        </p>
        <p>
          We have members from many areas in DFW ranging from Arlington,
          Burleson, and Denton. We are centralized in Ft. Worth and frequent
          breweries such as Cowtown, Maple Branch, and HopFusion.
        </p>
        <a
          href="https://forms.gle/ebbSoH58B9XEmrtK8"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary mt-4"
        >
          Contact Us
        </a>
      </div>
      <div class="md:col-6 lg:col-5 mb-6 md:mb-0">
        <ImageMod
          src="/images/horsemen-of-the-hops-bluebonnet-brew-off_2.jpg"
          alt="Horsemen of the Hops Bluebonnet Brew Off"
          width={576}
          height={432}
          format="webp"
        />
      </div>
    </div>
  </div>
</section>
