[build]
command = "yarn build"
functions = "netlify/functions"
publish = "dist"

[functions]
external_node_modules = ["@paypal/paypal-server-sdk"]
included_files = ["src/config/*.json"]
node_bundler = "esbuild"

[dev]
command = "yarn dev:astro"
functions = "netlify/functions"
port = 8888
targetPort = 4321

[[redirects]]
from = "/api/*"
status = 200
to = "/.netlify/functions/:splat"

[build.environment]
NODE_VERSION = "22.20.0"

# Production context
[context.production.environment]
PAYPAL_ENV = "Production"

# All branch deploys
[context.branch-deploy.environment]
PAYPAL_ENV = "Sandbox"

# Deploy previews
[context.deploy-preview.environment]
PAYPAL_ENV = "Sandbox"
