---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import PayPal from "@/components/PayPal.astro";
---

<Base >
  <PageHeader title="Memberships" />
    <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
<PayPal
      </div>
    </div>
  </section>
</Base>
